Importando las Librerias

In [1]:
import pandas as pd
import polars as pl
import duckdb

In [2]:
df = pl.read_csv('csv_originales/01_Indicadores_del_desarrollo_humano_mundial Banco Mundial.csv', separator=';', 
                 null_values='..')

In [ ]:
df

Borrando las últimas 5 rows del dataframe

In [3]:
df = df.filter(~pl.all_horizontal(pl.col('Series Code').is_null()))
df

shape: (232, 24)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Series    ┆ Series    ┆ Country   ┆ Country   ┆ … ┆ 2016      ┆ 2017      ┆ 2018      ┆ 2019     │
│ Name      ┆ Code      ┆ Name      ┆ Code      ┆   ┆ [YR2016]  ┆ [YR2017]  ┆ [YR2018]  ┆ [YR2019] │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Superfici ┆ AG.SRF.TO ┆ Estados   ┆ USA       ┆ … ┆ 9831510   ┆ 9831510   ┆ 9831510   ┆ null     │
│ e (kilóme ┆ TL.K2     ┆ Unidos    ┆           ┆   ┆           ┆           ┆           ┆          │
│ tros      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ cuadrad…  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Superfici ┆ AG.SRF.TO ┆ Unión     ┆ EUU       ┆ … ┆ 4384317,5 ┆ 4384317,5 ┆ 4384317,5 ┆ null     │
│ e (kilóme ┆ TL.K2     ┆ Europea   ┆           ┆   ┆ 93        ┆ 93        ┆ 93        ┆          │
│ tros      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ cuadrad…  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Superfici ┆ AG.SRF.TO ┆ Japón     ┆ JPN       ┆ … ┆ 377970    ┆ 377970    ┆ 377970    ┆ null     │
│ e (kilóme ┆ TL.K2     ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ tros      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ cuadrad…  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Superfici ┆ AG.SRF.TO ┆ Mundo     ┆ WLD       ┆ … ┆ 132036620 ┆ 132036620 ┆ 132025199 ┆ null     │
│ e (kilóme ┆ TL.K2     ┆           ┆           ┆   ┆ ,8        ┆ ,8        ┆ ,4        ┆          │
│ tros      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ cuadrad…  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ INB,      ┆ NY.GNP.AT ┆ Estados   ┆ USA       ┆ … ┆ 1,84673E+ ┆ 1,91948E+ ┆ 2,06363E+ ┆ null     │
│ método    ┆ LS.CD     ┆ Unidos    ┆           ┆   ┆ 13        ┆ 13        ┆ 13        ┆          │
│ Atlas     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ (US$ a    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ preci…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Población ┆ SP.POP.15 ┆ Mundo     ┆ WLD       ┆ … ┆ 486146172 ┆ 491101217 ┆ 495858750 ┆ null     │
│ entre 15  ┆ 64.TO     ┆           ┆           ┆   ┆ 3         ┆ 8         ┆ 4         ┆          │
│ y 64 años ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ d…        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Población ┆ SL.TLF.TO ┆ Estados   ┆ USA       ┆ … ┆ 45,870679 ┆ 46,025083 ┆ 46,053674 ┆ 46,03111 │
│ activa,   ┆ TL.FE.ZS  ┆ Unidos    ┆           ┆   ┆ 96        ┆ 31        ┆ 5         ┆ 754      │
│ mujeres   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ (% d…     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Población ┆ SL.TLF.TO ┆ Unión     ┆ EUU       ┆ … ┆ 45,808998 ┆ 45,833516 ┆ 45,845761 ┆ 45,87323 │
│ activa,   ┆ TL.FE.ZS  ┆ Europea   ┆           ┆   ┆ 85        ┆ 66        ┆ 58        ┆ 89       │
│ mujeres   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ (% d…     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Población ┆ SL.TLF.TO ┆ Japón     ┆ JPN       ┆ … ┆ 43,110947 ┆ 43,502721 ┆ 43,935863 ┆ 44,02415 │
│ activa,   ┆ TL.FE.ZS  ┆           ┆           ┆   ┆ 92        ┆ 45        ┆ 3         ┆ 591      │
│ mujeres   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ (% d…     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Población ┆ SL.TLF.TO ┆ Mundo     ┆ WLD       ┆ … ┆ 38,883281 ┆ 38,897391 ┆ 38,916471 ┆ 38,84903 │
│ activa,   ┆ TL.FE.ZS  ┆           ┆           ┆   ┆ 87        ┆ 85        ┆ 63        ┆ 288      │
│ mujeres   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ (% d…     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Observando Los Campos Nulos

In [4]:
for column in df.columns:
    print(f'{column}  --->   {df[column].is_null().sum()}')

Series Name  --->   0
Series Code  --->   0
Country Name  --->   0
Country Code  --->   0
2000 [YR2000]  --->   46
2001 [YR2001]  --->   49
2002 [YR2002]  --->   42
2003 [YR2003]  --->   47
2004 [YR2004]  --->   46
2005 [YR2005]  --->   43
2006 [YR2006]  --->   47
2007 [YR2007]  --->   36
2008 [YR2008]  --->   42
2009 [YR2009]  --->   43
2010 [YR2010]  --->   37
2011 [YR2011]  --->   40
2012 [YR2012]  --->   34
2013 [YR2013]  --->   39
2014 [YR2014]  --->   33
2015 [YR2015]  --->   47
2016 [YR2016]  --->   46
2017 [YR2017]  --->   48
2018 [YR2018]  --->   62
2019 [YR2019]  --->   202

Hay Muchos Nulos que no se pueden imputar. Lo correcto sería Averiguar esos valores y rellenar.. Por ahora vamos a ver sí encontramos Variables a las cuales sacarle provecho

***
Por ahora vamos a realizar dos tablas pequeñas para Normalizar algo y trabajar mejor.
- tabla `series`
    - Series Name
    - Series Code
- tabla `countries`
    - Country Name
    - Country Code

In [5]:
series = df[['Series Code', 'Series Name']]
series = series.unique()

countries = df[['Country Code', 'Country Name']]
countries = countries.unique()

countries

shape: (4, 2)
┌──────────────┬────────────────┐
│ Country Code ┆ Country Name   │
│ ---          ┆ ---            │
│ str          ┆ str            │
╞══════════════╪════════════════╡
│ EUU          ┆ Unión Europea  │
│ USA          ┆ Estados Unidos │
│ WLD          ┆ Mundo          │
│ JPN          ┆ Japón          │
└──────────────┴────────────────┘

In [6]:
df = df.drop('Series Name').drop('Country Name')
df.head(5)

shape: (5, 22)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Series    ┆ Country   ┆ 2000      ┆ 2001      ┆ … ┆ 2016      ┆ 2017      ┆ 2018      ┆ 2019     │
│ Code      ┆ Code      ┆ [YR2000]  ┆ [YR2001]  ┆   ┆ [YR2016]  ┆ [YR2017]  ┆ [YR2018]  ┆ [YR2019] │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ AG.SRF.TO ┆ USA       ┆ 9632030   ┆ 9632030   ┆ … ┆ 9831510   ┆ 9831510   ┆ 9831510   ┆ null     │
│ TL.K2     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ AG.SRF.TO ┆ EUU       ┆ 4384964,9 ┆ 4384984,9 ┆ … ┆ 4384317,5 ┆ 4384317,5 ┆ 4384317,5 ┆ null     │
│ TL.K2     ┆           ┆ 95        ┆ 95        ┆   ┆ 93        ┆ 93        ┆ 93        ┆          │
│ AG.SRF.TO ┆ JPN       ┆ 377800    ┆ 377880    ┆ … ┆ 377970    ┆ 377970    ┆ 377970    ┆ null     │
│ TL.K2     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ AG.SRF.TO ┆ WLD       ┆ 131606512 ┆ 131606902 ┆ … ┆ 132036620 ┆ 132036620 ┆ 132025199 ┆ null     │
│ TL.K2     ┆           ┆ ,3        ┆ ,7        ┆   ┆ ,8        ┆ ,8        ┆ ,4        ┆          │
│ NY.GNP.AT ┆ USA       ┆ 1,01476E+ ┆ 1,04622E+ ┆ … ┆ 1,84673E+ ┆ 1,91948E+ ┆ 2,06363E+ ┆ null     │
│ LS.CD     ┆           ┆ 13        ┆ 13        ┆   ┆ 13        ┆ 13        ┆ 13        ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Desde la Columna `2000 [YR2000]` en adelante se necesita reemplazar las ',' por '.' y los '..' por '0' y luego castear todo a numerico

In [7]:
# Sustituyo todas las comas ',' por puntos '.'
for i in range(2, len(df.columns)):
    df = df.with_columns(pl.col(df.columns[i]).str.replace_all(',','.').alias(df.columns[i]))

In [ ]:
# Sustituyo donde aparezcan dobles puntos '..' por 0
# for i in range(2, len(df.columns)):
#     df = df.with_columns(pl.col(df.columns[i]).str.replace('\..','0').alias(df.columns[i]))

In [8]:
# Castear las columnas a numericas
for i in range(2, len(df.columns)):
    df = df.with_columns(pl.col(df.columns[i]).cast(pl.Float32).alias(df.columns[i]))

In [9]:
df.filter(df['Series Code'] == 'NY.GNP.PCAP.CD')

shape: (4, 22)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Series    ┆ Country   ┆ 2000      ┆ 2001      ┆ … ┆ 2016      ┆ 2017      ┆ 2018      ┆ 2019     │
│ Code      ┆ Code      ┆ [YR2000]  ┆ [YR2001]  ┆   ┆ [YR2016]  ┆ [YR2017]  ┆ [YR2018]  ┆ [YR2019] │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ f32       ┆ f32       ┆   ┆ f32       ┆ f32       ┆ f32       ┆ f32      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ NY.GNP.PC ┆ USA       ┆ 35960.0   ┆ 36710.0   ┆ … ┆ 57180.0   ┆ 59060.0   ┆ 63170.0   ┆ null     │
│ AP.CD     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ NY.GNP.PC ┆ EUU       ┆ 18453.789 ┆ 17769.470 ┆ … ┆ 32192.632 ┆ 31803.796 ┆ 34469.539 ┆ null     │
│ AP.CD     ┆           ┆ 062       ┆ 703       ┆   ┆ 812       ┆ 875       ┆ 062       ┆          │
│ NY.GNP.PC ┆ JPN       ┆ 36230.0   ┆ 36770.0   ┆ … ┆ 37880.0   ┆ 38470.0   ┆ 41310.0   ┆ null     │
│ AP.CD     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ NY.GNP.PC ┆ WLD       ┆ 5489.0078 ┆ 5464.8862 ┆ … ┆ 10396.306 ┆ 10449.857 ┆ 11124.503 ┆ null     │
│ AP.CD     ┆           ┆ 12        ┆ 3         ┆   ┆ 641       ┆ 422       ┆ 906       ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Existen 4 Zonas de Estudio en esta Mega Tabla. Sacaré 4 Tablas mas pequeñas para facilidad de análisis

In [10]:
indicadores_euu = df.filter(pl.col('Country Code') == "EUU")
indicadores_jpn = df.filter(pl.col('Country Code') == "JPN")
indicadores_wld = df.filter(pl.col('Country Code') == "WLD")
indicadores_usa = df.filter(pl.col('Country Code') == "USA")

Borraremos la Columnas `Country Code` de estas 4 Sub-tablas

In [11]:
indicadores_euu = indicadores_euu.drop('Country Code')
indicadores_jpn = indicadores_jpn.drop('Country Code')
indicadores_wld = indicadores_wld.drop('Country Code')
indicadores_usa = indicadores_usa.drop('Country Code')

indicadores_usa.head(2)

shape: (2, 21)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Series    ┆ 2000      ┆ 2001      ┆ 2002      ┆ … ┆ 2016      ┆ 2017      ┆ 2018      ┆ 2019     │
│ Code      ┆ [YR2000]  ┆ [YR2001]  ┆ [YR2002]  ┆   ┆ [YR2016]  ┆ [YR2017]  ┆ [YR2018]  ┆ [YR2019] │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ f32       ┆ f32       ┆ f32       ┆   ┆ f32       ┆ f32       ┆ f32       ┆ f32      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ AG.SRF.TO ┆ 9.63203e6 ┆ 9.63203e6 ┆ 9.63203e6 ┆ … ┆ 9.83151e6 ┆ 9.83151e6 ┆ 9.83151e6 ┆ null     │
│ TL.K2     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ NY.GNP.AT ┆ 1.0148e13 ┆ 1.0462e13 ┆ 1.0733e13 ┆ … ┆ 1.8467e13 ┆ 1.9195e13 ┆ 2.0636e13 ┆ null     │
│ LS.CD     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Para Facilidad de Graficar de `Power Bi` o cualquier Libreria de Python en que nos apoyemos para Graficar, vamos a Transponer las 4 subtablas, con la finalidad de tener cada indicador en una `columna`

In [12]:
indicadores_euu = indicadores_euu.transpose(include_header=True, column_names='Series Code')
indicadores_jpn = indicadores_jpn.transpose(include_header=True, column_names='Series Code')
indicadores_wld = indicadores_wld.transpose(include_header=True, column_names='Series Code')
indicadores_usa = indicadores_usa.transpose(include_header=True, column_names='Series Code')

In [ ]:
indicadores_usa.head()

Crearemos una Columna llamada `Año` que vaya desde el 2000 hasta el 2019 y Luego eliminaremos la columna `column`

In [13]:
indicadores_euu = indicadores_euu.with_row_index(name='Año', offset=2000)
indicadores_jpn = indicadores_jpn.with_row_index(name='Año', offset=2000)
indicadores_wld = indicadores_wld.with_row_index(name='Año', offset=2000)
indicadores_usa = indicadores_usa.with_row_index(name='Año', offset=2000)

indicadores_euu = indicadores_euu.drop('column')
indicadores_jpn = indicadores_jpn.drop('column')
indicadores_wld = indicadores_wld.drop('column')
indicadores_usa = indicadores_usa.drop('column')

In [ ]:
indicadores_euu.head()

In [ ]:
indicadores_jpn.head()

In [ ]:
indicadores_wld.head()

In [ ]:
indicadores_usa.head()

Procedemos a Guardar las tablas en csv

In [ ]:
df.write_csv('data/01_indicadores_des_humano.csv')
countries.write_csv('data/01_countries.csv')
series.write_csv('data/01_series.csv')
indicadores_euu.write_csv('data/01_indicadores_europa_all_columnas.csv')
indicadores_jpn.write_csv('data/01_indicadores_japon_all_columnas.csv')
indicadores_usa.write_csv('data/01_indicadores_usa_all_columnas.csv')
indicadores_wld.write_csv('data/01_indicadores_mundo_all_columnas.csv')

Seleccionando los campos que seran Objeto de Estudio
- `EG.USE.ELEC.KH.PC`
    - Consumo de energía eléctrica (kWh per cápita)
- `NY.GNP.PCAP.CD`
    - INB per cápita, método Atlas (US$ a precios actuales)
- `IT.CEL.SETS.P2`
    - Suscripciones a telefonía celular móvil (por cada 100 personas)
- `BX.KLT.DINV.CD.WD`
    - Inversión extranjera directa, entrada neta de capital (balanza de pagos, US$ a precios actuales)
- `SL.UEM.TOTL.ZS`
    - Desempleo, total (% de la población activa total) (estimación modelado OIT)
- `SL.TLF.TOTL.IN`
    - Población activa, total
- `SP.POP.65UP.MA.IN`
    - Población de 65 años de edad y más, hombres
- `SP.POP.65UP.FE.IN`
    - Población de 65 años de edad y más, mujeres
- `SP.POP.65UP.TO`
    - Población de 65 años de edad y más, total
- `SP.POP.0014.MA.IN`
    - Población entre 0 y 14 años de edad, hombres
- `SP.POP.0014.FE.IN`
    - Población entre 0 y 14 años de edad, mujeres
- `SP.POP.0014.TO`
    - Población entre 0 y 14 años de edad, total
- `SP.POP.1564.MA.IN`
    - Población entre 15 y 64 años de edad, hombres
- `SP.POP.1564.FE.IN`
    - Población entre 15 y 64 años de edad, mujeres
- `SP.POP.1564.TO`
    - Población entre 15 y 64 años de edad, total

In [14]:
columnas_estudiar = ['Año', 'EG.USE.ELEC.KH.PC', 'NY.GNP.PCAP.CD', 'IT.CEL.SETS.P2',
                     'BX.KLT.DINV.CD.WD', 'SL.UEM.TOTL.ZS', 'SL.TLF.TOTL.IN', 'SP.POP.65UP.MA.IN',
                     'SP.POP.65UP.FE.IN', 'SP.POP.65UP.TO', 'SP.POP.0014.MA.IN', 'SP.POP.0014.FE.IN',
                     'SP.POP.0014.TO', 'SP.POP.1564.MA.IN', 'SP.POP.1564.FE.IN', 'SP.POP.1564.TO']

In [15]:
estudiar_euu = indicadores_euu[columnas_estudiar]
estudiar_jpn = indicadores_jpn[columnas_estudiar]
estudiar_wld = indicadores_wld[columnas_estudiar]
estudiar_usa = indicadores_usa[columnas_estudiar]

Asignando Nombres de Columnas MAS ENTENDIBLES

In [16]:
columns = ['Año', 'Consumo_electrico_PC', 'INB_ATLAS_PC', 'Penetracion_Celular_100',
           'Inversion_Extranjera', 'Desempleo', 'Poblacion_Activa', 'Pob_mayor_65_Hombre',
           'Pob_mayor_65_Mujer', 'Pob_mayor_65_Total', 'Pob_0_14_Hombre', 'Pob_0_14_Mujer',
           'Pob_0_14_Total', 'Pob_15_64_Hombre', 'Pob_15_64_Mujer', 'Pob_15_64_Total']

In [17]:
estudiar_euu.columns = columns
estudiar_jpn.columns = columns
estudiar_usa.columns = columns
estudiar_wld.columns = columns

In [ ]:
estudiar_euu.head(1)

In [ ]:
estudiar_jpn.head(1)

In [ ]:
estudiar_usa.head(1)

In [ ]:
estudiar_wld.head(1)

Grabamos estas Tablas a csv

In [ ]:
estudiar_euu.write_csv('data/01_indicadores_europa_estudiar.csv')

estudiar_jpn.write_csv('data/01_indicadores_japon_estudiar.csv')

estudiar_wld.write_csv('data/01_indicadores_mundo_estudiar.csv')

estudiar_usa.write_csv('data/01_indicadores_usa_estudiar.csv')

Ya tenemos Data procesada para la realizacion de estudios, ya se mios o de cualquier compañero de trabajo... Ahora voy a preparar una tabla para mi Dashboard

In [18]:
euu = estudiar_euu.filter(estudiar_euu["Año"] == 2018)
usa = estudiar_usa.filter(estudiar_usa["Año"] == 2018)
wld = estudiar_wld.filter(estudiar_wld["Año"] == 2018)
jpn = estudiar_jpn.filter(estudiar_jpn["Año"] == 2018)

In [19]:
data_bank = pl.concat([usa, euu, jpn, wld])

In [ ]:
data_bank

In [20]:
zonas = ['N_America', 'Europa', 'Japon', 'Mundo']
temp = pl.DataFrame(zonas)
data_bank = data_bank.with_columns(Zona = pl.lit(temp['column_0']))
del temp
data_bank

shape: (4, 17)
┌──────┬────────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ Año  ┆ Consumo_el ┆ INB_ATLAS_ ┆ Penetracio ┆ … ┆ Pob_15_64_ ┆ Pob_15_64 ┆ Pob_15_64 ┆ Zona      │
│ ---  ┆ ectrico_PC ┆ PC         ┆ n_Celular_ ┆   ┆ Hombre     ┆ _Mujer    ┆ _Total    ┆ ---       │
│ u32  ┆ ---        ┆ ---        ┆ 100        ┆   ┆ ---        ┆ ---       ┆ ---       ┆ str       │
│      ┆ f32        ┆ f32        ┆ ---        ┆   ┆ f32        ┆ f32       ┆ f32       ┆           │
│      ┆            ┆            ┆ f32        ┆   ┆            ┆           ┆           ┆           │
╞══════╪════════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 2018 ┆ null       ┆ 63170.0    ┆ 129.014008 ┆ … ┆ 1.07346576 ┆ 1.065792e ┆ 2.1392577 ┆ N_America │
│      ┆            ┆            ┆            ┆   ┆ e8         ┆ 8         ┆ 6e8       ┆           │
│ 2018 ┆ null       ┆ 34469.5390 ┆ 122.737839 ┆ … ┆ 1.44936896 ┆ 1.4408363 ┆ 2.8902096 ┆ Europa    │
│      ┆            ┆ 62         ┆            ┆   ┆ e8         ┆ 2e8       ┆ e8        ┆           │
│ 2018 ┆ null       ┆ 41310.0    ┆ 141.406998 ┆ … ┆ 3.836544e7 ┆ 3.7205508 ┆ 7.557176e ┆ Japon     │
│      ┆            ┆            ┆            ┆   ┆            ┆ e7        ┆ 7         ┆           │
│ 2018 ┆ null       ┆ 11124.5039 ┆ 106.434898 ┆ … ┆ 2.5136e9   ┆ 2.4450e9  ┆ 4.9586e9  ┆ Mundo     │
│      ┆            ┆ 06         ┆            ┆   ┆            ┆           ┆           ┆           │
└──────┴────────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [21]:
# Calculo el Porcentaje de Poblacion Activa
data_bank = data_bank.with_columns(
    porcentaje_activo = pl.col('Poblacion_Activa') / (pl.col('Pob_mayor_65_Total') + pl.col('Pob_0_14_Total') + pl.col('Pob_15_64_Total'))
)

In [22]:
data_bank = data_bank.with_columns(
    porcentaje_15_64 = pl.col('Pob_15_64_Total') / (pl.col('Pob_mayor_65_Total') + pl.col('Pob_0_14_Total') + pl.col('Pob_15_64_Total'))
)

In [23]:
data_bank = data_bank.with_columns(
    porcentaje_0_14 = pl.col('Pob_0_14_Total') / (pl.col('Pob_mayor_65_Total') + pl.col('Pob_0_14_Total') + pl.col('Pob_15_64_Total'))
)

In [24]:
data_bank = data_bank.with_columns(
    porcentaje_65_mas = pl.col('Pob_mayor_65_Total') / (pl.col('Pob_mayor_65_Total') + pl.col('Pob_0_14_Total') + pl.col('Pob_15_64_Total'))
)

In [25]:
data_bank = data_bank.with_columns(
    Total_Poblacion = pl.col('Pob_mayor_65_Total') + pl.col('Pob_0_14_Total') + pl.col('Pob_15_64_Total')
)

In [26]:
data_bank = data_bank.drop('Año').drop('Consumo_electrico_PC').drop('Penetracion_Celular_100')\
                     .drop('Pob_mayor_65_Total').drop('Pob_0_14_Total').drop('Pob_15_64_Total')\
                     .drop('Pob_mayor_65_Hombre').drop('Pob_mayor_65_Mujer').drop('Pob_0_14_Hombre')\
                     .drop('Pob_0_14_Mujer').drop('Pob_15_64_Hombre').drop('Pob_15_64_Mujer')
data_bank

shape: (4, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ INB_ATLAS ┆ Inversion ┆ Desempleo ┆ Poblacion ┆ … ┆ porcentaj ┆ porcentaj ┆ porcentaj ┆ Total_Po │
│ _PC       ┆ _Extranje ┆ ---       ┆ _Activa   ┆   ┆ e_15_64   ┆ e_0_14    ┆ e_65_mas  ┆ blacion  │
│ ---       ┆ ra        ┆ f32       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ f32       ┆ ---       ┆           ┆ f32       ┆   ┆ f32       ┆ f32       ┆ f32       ┆ f32      │
│           ┆ f32       ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 63170.0   ┆ 2.5839e11 ┆ 3.896     ┆ 1.6548302 ┆ … ┆ 0.654833  ┆ 0.18709   ┆ 0.158077  ┆ 3.266874 │
│           ┆           ┆           ┆ 4e8       ┆   ┆           ┆           ┆           ┆ 88e8     │
│ 34469.539 ┆ 7.1906e10 ┆ 7.269402  ┆ 2.1648844 ┆ … ┆ 0.646889  ┆ 0.15148   ┆ 0.201631  ┆ 4.467862 │
│ 062       ┆           ┆           ┆ 8e8       ┆   ┆           ┆           ┆           ┆ 72e8     │
│ 41310.0   ┆ 2.4606e10 ┆ 2.4       ┆ 6.8358368 ┆ … ┆ 0.597268  ┆ 0.126968  ┆ 0.275764  ┆ 1.265291 │
│           ┆           ┆           ┆ e7        ┆   ┆           ┆           ┆           ┆ 04e8     │
│ 11124.503 ┆ 1.3499e12 ┆ 5.391889  ┆ 3.4275e9  ┆ … ┆ 0.653304  ┆ 0.25797   ┆ 0.088727  ┆ 7.5900e9 │
│ 906       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [27]:
columns = ['INB_ATLAS_PC', 'Inv_Extranjera', 'Desempleados', 'Activos',	'Zona',
           'Porcentaje Activo', 'Porcentaje 15-64', 'Porcentaje 0-14', 'Porcentaje 65 o mas', 'Total Poblacion' ]

data_bank.columns = columns

data_bank

shape: (4, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ INB_ATLAS ┆ Inv_Extra ┆ Desemplea ┆ Activos   ┆ … ┆ Porcentaj ┆ Porcentaj ┆ Porcentaj ┆ Total    │
│ _PC       ┆ njera     ┆ dos       ┆ ---       ┆   ┆ e 15-64   ┆ e 0-14    ┆ e 65 o    ┆ Poblacio │
│ ---       ┆ ---       ┆ ---       ┆ f32       ┆   ┆ ---       ┆ ---       ┆ mas       ┆ n        │
│ f32       ┆ f32       ┆ f32       ┆           ┆   ┆ f32       ┆ f32       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ f32       ┆ f32      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 63170.0   ┆ 2.5839e11 ┆ 3.896     ┆ 1.6548302 ┆ … ┆ 0.654833  ┆ 0.18709   ┆ 0.158077  ┆ 3.266874 │
│           ┆           ┆           ┆ 4e8       ┆   ┆           ┆           ┆           ┆ 88e8     │
│ 34469.539 ┆ 7.1906e10 ┆ 7.269402  ┆ 2.1648844 ┆ … ┆ 0.646889  ┆ 0.15148   ┆ 0.201631  ┆ 4.467862 │
│ 062       ┆           ┆           ┆ 8e8       ┆   ┆           ┆           ┆           ┆ 72e8     │
│ 41310.0   ┆ 2.4606e10 ┆ 2.4       ┆ 6.8358368 ┆ … ┆ 0.597268  ┆ 0.126968  ┆ 0.275764  ┆ 1.265291 │
│           ┆           ┆           ┆ e7        ┆   ┆           ┆           ┆           ┆ 04e8     │
│ 11124.503 ┆ 1.3499e12 ┆ 5.391889  ┆ 3.4275e9  ┆ … ┆ 0.653304  ┆ 0.25797   ┆ 0.088727  ┆ 7.5900e9 │
│ 906       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Creando el Hover del Grafico de Burbujas

In [39]:
data_hoover = []
for i in range(len(data_bank)):
    zona = data_bank[i,4]
    inversion = round(data_bank[i,1]/data_bank[i,9]*1000)
    activo = round(data_bank[i,5],3) * 100
    inb_perca = round(data_bank[i,0])
    hoover = f'Zona: {zona}, % Pob. Activa {activo}%, Inv. Extranjera por 1000 hab {inversion}'
    data_hoover.append(hoover)

In [40]:
data_hoover

['Zona: N_America, % Pob. Activa 50.7%, Inv. Extranjera por 1000 hab 790939',
 'Zona: Europa, % Pob. Activa 48.5%, Inv. Extranjera por 1000 hab 160940',
 'Zona: Japon, % Pob. Activa 54.0%, Inv. Extranjera por 1000 hab 194468',
 'Zona: Mundo, % Pob. Activa 45.2%, Inv. Extranjera por 1000 hab 177859']

In [43]:
temp = pl.DataFrame(data_hoover)
data_bank = data_bank.with_columns(hoover = pl.lit(temp['column_0']))

In [44]:
data_bank

shape: (4, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ INB_ATLAS ┆ Inv_Extra ┆ Desemplea ┆ Activos   ┆ … ┆ Porcentaj ┆ Porcentaj ┆ Total     ┆ hoover   │
│ _PC       ┆ njera     ┆ dos       ┆ ---       ┆   ┆ e 0-14    ┆ e 65 o    ┆ Poblacion ┆ ---      │
│ ---       ┆ ---       ┆ ---       ┆ f32       ┆   ┆ ---       ┆ mas       ┆ ---       ┆ str      │
│ f32       ┆ f32       ┆ f32       ┆           ┆   ┆ f32       ┆ ---       ┆ f32       ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆ f32       ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 63170.0   ┆ 2.5839e11 ┆ 3.896     ┆ 1.6548302 ┆ … ┆ 0.18709   ┆ 0.158077  ┆ 3.2668748 ┆ Zona:    │
│           ┆           ┆           ┆ 4e8       ┆   ┆           ┆           ┆ 8e8       ┆ N_Americ │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ a, %     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Pob.     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Activa…  │
│ 34469.539 ┆ 7.1906e10 ┆ 7.269402  ┆ 2.1648844 ┆ … ┆ 0.15148   ┆ 0.201631  ┆ 4.4678627 ┆ Zona:    │
│ 062       ┆           ┆           ┆ 8e8       ┆   ┆           ┆           ┆ 2e8       ┆ Europa,  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ % Pob.   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Activa   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 48…      │
│ 41310.0   ┆ 2.4606e10 ┆ 2.4       ┆ 6.8358368 ┆ … ┆ 0.126968  ┆ 0.275764  ┆ 1.2652910 ┆ Zona:    │
│           ┆           ┆           ┆ e7        ┆   ┆           ┆           ┆ 4e8       ┆ Japon, % │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Pob.     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Activa   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 54.…     │
│ 11124.503 ┆ 1.3499e12 ┆ 5.391889  ┆ 3.4275e9  ┆ … ┆ 0.25797   ┆ 0.088727  ┆ 7.5900e9  ┆ Zona:    │
│ 906       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Mundo, % │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Pob.     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Activa   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 45.…     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [45]:
data_bank.write_csv('data/01_data_bank.csv')