### EDA GAMING
Importando las librerias

In [1]:
import pandas as pd
import duckdb 
import polars as pl

In [2]:
df = pl.read_csv('csv_originales/02_Console_sales_retocado.csv', separator=';')

In [3]:
df

shape: (77, 5)
┌──────┬───────┬──────────────┬───────────┬────────────┐
│ Year ┆ Dato  ┆ Console      ┆ Company   ┆ Sales      │
│ ---  ┆ ---   ┆ ---          ┆ ---       ┆ ---        │
│ i64  ┆ str   ┆ str          ┆ str       ┆ str        │
╞══════╪═══════╪══════════════╪═══════════╪════════════╡
│ 2011 ┆ anual ┆ Nintendo 3DS ┆ Nintendo  ┆ 12.560.000 │
│ 2012 ┆ anual ┆ Nintendo 3DS ┆ Nintendo  ┆ 13.480.000 │
│ 2013 ┆ anual ┆ Nintendo 3DS ┆ Nintendo  ┆ 14.310.000 │
│ 2014 ┆ anual ┆ Nintendo 3DS ┆ Nintendo  ┆ 9.740.000  │
│ 2015 ┆ anual ┆ Nintendo 3DS ┆ Nintendo  ┆ 7.330.000  │
│ …    ┆ …     ┆ …            ┆ …         ┆ …          │
│ 2013 ┆ anual ┆ Xbox360      ┆ Microsoft ┆ 6.240.000  │
│ 2014 ┆ anual ┆ Xbox360      ┆ Microsoft ┆ 2.600.000  │
│ 2015 ┆ anual ┆ Xbox360      ┆ Microsoft ┆ 930.000    │
│ 2016 ┆ anual ┆ Xbox360      ┆ Microsoft ┆ 390.000    │
│ 2017 ┆ anual ┆ Xbox360      ┆ Microsoft ┆ 60.000     │
└──────┴───────┴──────────────┴───────────┴────────────┘

In [4]:
df = df.with_columns(
    Sales = pl.col('Sales').str.replace_all('\.','').cast(pl.Int64) 
)

In [5]:
df

shape: (77, 5)
┌──────┬───────┬──────────────┬───────────┬──────────┐
│ Year ┆ Dato  ┆ Console      ┆ Company   ┆ Sales    │
│ ---  ┆ ---   ┆ ---          ┆ ---       ┆ ---      │
│ i64  ┆ str   ┆ str          ┆ str       ┆ i64      │
╞══════╪═══════╪══════════════╪═══════════╪══════════╡
│ 2011 ┆ anual ┆ Nintendo 3DS ┆ Nintendo  ┆ 12560000 │
│ 2012 ┆ anual ┆ Nintendo 3DS ┆ Nintendo  ┆ 13480000 │
│ 2013 ┆ anual ┆ Nintendo 3DS ┆ Nintendo  ┆ 14310000 │
│ 2014 ┆ anual ┆ Nintendo 3DS ┆ Nintendo  ┆ 9740000  │
│ 2015 ┆ anual ┆ Nintendo 3DS ┆ Nintendo  ┆ 7330000  │
│ …    ┆ …     ┆ …            ┆ …         ┆ …        │
│ 2013 ┆ anual ┆ Xbox360      ┆ Microsoft ┆ 6240000  │
│ 2014 ┆ anual ┆ Xbox360      ┆ Microsoft ┆ 2600000  │
│ 2015 ┆ anual ┆ Xbox360      ┆ Microsoft ┆ 930000   │
│ 2016 ┆ anual ┆ Xbox360      ┆ Microsoft ┆ 390000   │
│ 2017 ┆ anual ┆ Xbox360      ┆ Microsoft ┆ 60000    │
└──────┴───────┴──────────────┴───────────┴──────────┘

In [12]:
duckdb.sql("""
    SELECT Console, SUM(Sales) AS TOTAL_VENTAS
    FROM df 
    GROUP BY 1
    ORDER BY 2 DESC;       
""").show()

┌─────────────────┬──────────────┐
│     Console     │ TOTAL_VENTAS │
│     varchar     │    int128    │
├─────────────────┼──────────────┤
│ Sony PS4        │     91820000 │
│ Nintendo DS     │     89890000 │
│ Nintendo Wii    │     81510000 │
│ Sony PS3        │     77730000 │
│ Nintendo 3DS    │     74700000 │
│ Xbox360         │     69910000 │
│ Sony PSP        │     48290000 │
│ Xbox One        │     43160000 │
│ Nintendo Switch │     28900000 │
│ Sony PS Vita    │     15530000 │
│ Nintendo Wii U  │     13630000 │
├─────────────────┴──────────────┤
│ 11 rows              2 columns │
└────────────────────────────────┘

In [10]:
duckdb.sql("""
    SELECT Company, SUM(Sales) AS TOTAL_VENTAS
    FROM df 
    GROUP BY 1
    ORDER BY 2 DESC;       
""").show()

┌───────────┬──────────────┐
│  Company  │ TOTAL_VENTAS │
│  varchar  │    int128    │
├───────────┼──────────────┤
│ Nintendo  │    288630000 │
│ Sony      │    233370000 │
│ Microsoft │    113070000 │
└───────────┴──────────────┘